<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bienvenido a VIP.DRINKS</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/673f269efc.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/styles-header.css">
    <link rel="stylesheet" href="css/styles-footer.css">
    <link rel="stylesheet" href="css/styles-home.css">
    <link rel="stylesheet" href="css/styles-listProducts.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Vujahday+Script&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Roboto:wght@100;400&display=swap"
        rel="stylesheet">
    <link rel="icon" href="/images/favicon.ico" type="ico">
</head>

<body>
    <%- include('./partials/header') %>
        <main>
            <section>
                <div class="banner-img">
                    <img class="banner" src="/images/publicity_brindis.jpeg" alt="banner">
                    <img class="banner-tablet" src="/images/banner.png" alt="banner">
                </div>
                <div>
                    <h2 class="subtitle">Bienvenido a <span class="brown-title">VIP.DRINKS</span></h2>
                    <h3 class="sub-subtitle">Tenemos una amplia variedad de productos de lujo</h3>
                </div>
            </section>
            <section class="nosotros">
                <div class="banner-img">
                    <img class="banner" src="/images/sobre-nosotros-banner.jpeg" alt="banner">
                </div>
                <div class="abuot">
                    <h2 class="subtitle">Sobre nosotros</h2>
                    <h3 class="sub-subtitle">Quiénes somos</h3>
                    <p class="text">Creamos VIP.DRINKS en 2021 con la misión de brindar a clientes exigentes las bebidas
                        más exclusivas y lujosas del mundo.
                        Somos un grupo de compañeros que aprende y crece con la fuerza de la tecnología de la mano de la
                        mejor educación en Digital House.
                    </p>
                </div>
            </section>
            <div class="intro">
                <h2 class="subtitle">Nuestra oferta de productos</h2>


                <h3 class="sub-subtitle">Descubre lo que tenemos disponible : </h3>
            </div>
            <section class="featured">

                <% listProducts.forEach(product=> { %>
                    <article class="product">
                         <a href="/product/detalle/<%= product.idProducts %>">
                            <img src="/images/imgProducts/<%= product.img %>" alt="<%= product.title %>">
                        </a> 
                        <div class="main-article">
                            <i class="fas fa-plane"></i>
                            <p class="price">$<%= product.price %>
                            </p>
                            <p class="shipping">Envío Gratuito</p>
                            <h4 class="description">
                                <%= product.title %>
                            </h4>
                            <form class="buy" >
                                <a href="/shop">Add to Cart</a>
                            </form>
                        </div>
                    </article>
                    <% }) %>

        </main>
        <%- include('./partials/footer') %>
</body>

</html>