<!DOCTYPE html>
<html lang="en">

<head>

    <title>Perfil</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/673f269efc.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/styles-header.css">
    <link rel="stylesheet" href="/css/styles-profile.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap" rel="stylesheet">
    <link rel="icon" href="/images/favicon.ico" type="ico">

</head>

<body>
    <%- include('./partials/header') %>


        <main>
            <!--ACÁ VA EL CÓDIGO DEL CUERPO DE LA PÁG-->

            <div id="box-img">
                <% let img=user.img %>
                    <img id="avatar" src="/images/imgUsers/<%=img.replace(/['" ]+/g, '' )%>" alt="img"> <%# Quitamos
                        commillas con replace para no romper la ruta %>
            </div>
            <div>
                <h4 class="profilename">¡ Hola <%=user.name%> !</h4>

            </div>

            <p class="subtitle">Tus datos personales:</p>
            <p>Nombre: <%=user.name%>
            </p>
            <p>Apellido: <%=user.surname%>
            </p>
            <p>Correo electrónico: <%=user.email%>
            </p>
            <form action="/users/editUser/<%= user.id%> " method="GET">
            <button>
            EDITAR MI PERFIL
        </button>
    </form>
            <section class="visit">
                <p class="subtitle">¡ Te estabamos esperando ! </p>

                <p class="cursive">Recorre nuestra tienda :</p>
                <a class="link-profile" href="/">Home</a>

                <p class="cursive">Nuestros productos destacados :</p>
                <a class="link-profile" href="/listProducts">Productos</a>

                <p  class="cursive">Para nuestros clientes más exigentes :</p>
                <a class="link-profile" href="/product/luxury-offers">Kits Luxury</a>

                <p class="cursive">Inspirate :</p>
                <a class="link-profile" href="/recipes">Recetas</a>
            </section>

            <a href="/users/logout">CERRAR SESIÓN</i></a>
        </main>

</body>

</html>